{% extends 'hf.html'%}

{% block content %}

  {% load static %}

  <!-- ##### Breadcrumb Area Start ##### -->
  <div class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url({%static 'img/bg-img/fruits1.jpg'%});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <div class="breadcrumb-text">
            <h2>About Us</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="famie-breadcrumb">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html"><i class="fa fa-home"></i> Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">About</li>
        </ol>
      </nav>
    </div>
  </div>
  <!-- ##### Breadcrumb Area End ##### -->

  <!-- ##### Famie Benefits Area Start ##### -->
  <section class="famie-benefits-area pb-5">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="benefits-thumbnail mb-50">
            <img src="{%static 'img/team5.png' %}" alt="">
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <!-- Single Benefits Area -->
        <div class="col-12 col-sm-4 col-lg">
          <div class="single-benefits-area wow fadeInUp mb-50" data-wow-delay="100ms">
            <img src="{%static 'img/core-img/digger.png' %}" alt="">
            <h5>Best Services</h5>
          </div>
        </div>

        <!-- Single Benefits Area -->
        <div class="col-12 col-sm-4 col-lg">
          <div class="single-benefits-area wow fadeInUp mb-50" data-wow-delay="300ms">
            <img src="{%static 'img/core-img/windmill.png' %}" alt="">
            <h5>Farm Experiences</h5>
          </div>
        </div>

        <!-- Single Benefits Area -->
        <div class="col-12 col-sm-4 col-lg">
          <div class="single-benefits-area wow fadeInUp mb-50" data-wow-delay="500ms">
            <img src="{%static 'img/core-img/cereals.png' %}" alt="">
            <h5>100% Natural</h5>
          </div>
        </div>

        <!-- Single Benefits Area -->
        <div class="col-12 col-sm-4 col-lg">
          <div class="single-benefits-area wow fadeInUp mb-50" data-wow-delay="700ms">
            <img src="{%static 'img/core-img/tractor.png' %}" alt="">
            <h5>Farm Equipment</h5>
          </div>
        </div>

        <!-- Single Benefits Area -->
        <div class="col-12 col-sm-4 col-lg">
          <div class="single-benefits-area wow fadeInUp mb-50" data-wow-delay="900ms">
            <img src="{%static 'img/core-img/sunrise.png' %}" alt="">
            <h5>Organic food</h5>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ##### Famie Benefits Area End ##### -->

  <!-- ##### About Us Area Start ##### -->
  <section class="about-us-area">
    <div class="container">
      <div class="row align-items-center">

        <!-- About Us Content -->
        <div class="col-12 col-md-8">
          <div class="about-us-content mb-100">
            <!-- Section Heading -->
            <div class="section-heading">
              <p>About us</p>
              <h2><span style="#">This Is</span>  Our Story</h2>
              <img src="img/core-img/decor.png" alt="">
            </div>
            <p>We,bunch of students from IIIT Sricity present this website .This innovation mainly deals with the problems faced by the farmers and small scale dealers.This forum bridges the gap between the farmers and the buyers.We proudly say that  this innovation belongs  "TO THE FARMERS ,FOR THE FARMERS."</p>
            <a href="#" class="btn famie-btn mt-30">Read More</a>
          </div>
        </div>

        <!-- Famie Video Play -->
        <div class="col-12 col-md-4">
          <div class="famie-video-play mb-100">
            <img src="{% static 'img/bg-img/6.jpg' %}" alt="">
            <!-- Play Icon -->
            <a href="http://www.youtube.com/" class="play-icon"><i class="fa fa-play"></i></a>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- ##### About Us Area End ##### -->

  <!-- ##### Testimonial Area Start ##### -->
  <section class="testimonial-area bg-img bg-overlay section-padding-100 jarallax" style="background-image: url({% static 'img/bg-img/fruits.jpg' %});">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- Testimonial Slides -->
          <div class="testimonial-slides owl-carousel">

            <!-- Single Slide -->
            <div class="single-slide">
              <!-- Testimonial Text -->
              <div class="testi-text d-flex">
                <div class="quote-icon">
                  <img src="{% static 'img/core-img/quote.png'%}" alt="">
                </div>
                <h5>"Thank you for your organic products. My family likes these products very much.We order frequently from this forum ,as this is very conveinent and the quality of fruits,vegetables and staples as well are extremely good. I will use them for many years."</h5>
              </div>
              <!-- Testimonial Thumbnail Name -->
              <div class="testimonial-thumbnail-name d-flex align-items-center">
                <div class="testimonial-thumbnail">
                  <img src="{% static 'img/bg-img/101.jpg'%}" alt="">
                </div>
                <div class="testimonial-name">
                  <h5>Mr. Rajeev</h5>
                  <h6>Customer</h6>
                </div>
              </div>
            </div>

            <!-- Single Slide -->
            <div class="single-slide">
              <!-- Testimonial Text -->
              <div class="testi-text d-flex">
                <div class="quote-icon">
                  <img src="{% static 'img/core-img/quote.png'%}" alt="">
                </div>
                <h5>"This forum gave my financial condition a economical boom , as I can connect to the buyers directly and gain more surplus without any mideators."</h5>
              </div>
              <!-- Testimonial Thumbnail Name -->
              <div class="testimonial-thumbnail-name d-flex align-items-center">
                <div class="testimonial-thumbnail">
                  <img src="{% static 'img/bg-img/105.jpg'%}" alt="">
                </div>
                <div class="testimonial-name">
                  <h5>Mr. Abhinav </h5>
                  <h6>Vender</h6>
                </div>
              </div>
            </div>

            <!-- Single Slide -->
            <div class="single-slide">
              <!-- Testimonial Text -->
              <div class="testi-text d-flex">
                <div class="quote-icon">
                  <img src="{% static 'img/core-img/quote.png'%}" alt="">
                </div>
                <h5>"This website made the purchasing of staples more economic,cheap and convienent ."</h5>
              </div>
              <!-- Testimonial Thumbnail Name -->
              <div class="testimonial-thumbnail-name d-flex align-items-center">
                <div class="testimonial-thumbnail">
                  <img src="{% static 'img/bg-img/104.jpg' %}" alt="">
                </div>
                <div class="testimonial-name">
                  <h5>Mr. Agraj</h5>
                  <h6>Buyer</h6>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ##### Testimonial Area End ##### -->

  <!-- ##### Team Member Area Start ##### -->
  <section class="team-member-area section-padding-100-0 ">
    <div class="container" >
      <div class="row">
        <div class="col-12">
          <!-- Section Heading -->
          <div class="section-heading text-center">
            <p>MEET OUR TEAM</p>
            <h2><span>The Great Team</span> Will Always Help You</h2>
            <img src="{% static 'img/core-img/decor2.png'%}" alt="">
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <!-- Single Team Member -->
        <div class="col-12 col-sm-4 col-lg">
          <div class="single-team-member mb-100  wow fadeInUp  "   data-wow-delay="100ms">
            <!-- Team Thumbnail -->
            <div class="team-img">
              <img src="{% static 'img/bg-img/20.jpg' %}" style="border:none" alt="">
              <!-- Social Info -->
              <div class="team-social-info">
                <a href="#" data-toggle="tooltip" data-placement="right" title="Facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" data-toggle="tooltip" data-placement="right" title="Twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" data-toggle="tooltip" data-placement="right" title="Pinterest"><i class="fa fa-pinterest"></i></a>
              </div>
            </div>
            <!-- Team Member Info -->
            <div class="team-member-info">
              <h5>Parikshit Singh</h5>
              <h6>Frontend Developer</h6>
            </div>
          </div>
        </div>

        <!-- Single Team Member -->
        <div class="col-12 col-sm-4 col-lg">
          <div class="single-team-member mb-100 wow fadeInUp  " data-wow-delay="300ms">
            <!-- Team Thumbnail -->
            <div class="team-img">
              <img src="{% static 'img/bg-img/21.jpg' %}" style="border:none"  alt="">
              <!-- Social Info -->
              <div class="team-social-info">
                <a href="#" data-toggle="tooltip" data-placement="right" title="Facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" data-toggle="tooltip" data-placement="right" title="Twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" data-toggle="tooltip" data-placement="right" title="Pinterest"><i class="fa fa-pinterest"></i></a>
              </div>
            </div>
            <!-- Team Member Info -->
            <div class="team-member-info">
              <h5>Tanishq Kadlag </h5>
              <h6>Backend Developer</h6>
            </div>
          </div>
        </div>

        <!-- Single Team Member -->
        <div class="col-12 col-sm-4 col-lg">
          <div class="single-team-member mb-100  wow fadeInUp " data-wow-delay="500ms">
            <!-- Team Thumbnail -->
            <div class="team-img">
              <img src="{% static 'img/bg-img/22.jpg' %}" style="border:none"  alt="">
              <!-- Social Info -->
              <div class="team-social-info">
                <a href="#" data-toggle="tooltip" data-placement="right" title="Facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" data-toggle="tooltip" data-placement="right" title="Twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" data-toggle="tooltip" data-placement="right" title="Pinterest"><i class="fa fa-pinterest"></i></a>
              </div>
            </div>
            <!-- Team Member Info -->
            <div class="team-member-info">
              <h5>Ayush Gairola</h5>
              <h6>Backend Developer</h6>
            </div>
          </div>
        </div>

        <!-- Single Team Member -->
        <div class="col-12 col-sm-4 col-lg">
          <div class="single-team-member mb-100 wow fadeInUp " data-wow-delay="700ms">
            <!-- Team Thumbnail -->
            <div class="team-img">
              <img src="{% static 'img/bg-img/23.jpg' %}" style="border:none"  alt="">
              <!-- Social Info -->
              <div class="team-social-info">
                <a href="#" data-toggle="tooltip" data-placement="right" title="Facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" data-toggle="tooltip" data-placement="right" title="Twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" data-toggle="tooltip" data-placement="right" title="Pinterest"><i class="fa fa-pinterest"></i></a>
              </div>
            </div>
            <!-- Team Member Info -->
            <div class="team-member-info">
              <h5>Shubham Kawatgi</h5>
              <h6>Backend Developer</h6>
            </div>
          </div>
        </div>

         <div class="col-12 col-sm-4 col-lg">
          <div class="single-team-member mb-100 wow fadeInUp " data-wow-delay="700ms">
            <!-- Team Thumbnail -->
            <div class="team-img">
              <img src="{% static 'img/bg-img/39.jpg'%}" style="border:none"  alt="">
              <!-- Social Info -->
              <div class="team-social-info">
                <a href="#" data-toggle="tooltip" data-placement="right" title="Facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" data-toggle="tooltip" data-placement="right" title="Twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" data-toggle="tooltip" data-placement="right" title="Pinterest"><i class="fa fa-pinterest"></i></a>
              </div>
            </div>
            <!-- Team Member Info -->
            <div class="team-member-info">
              <h5>Saurav Yadav</h5>
              <h6>Frontend Developer</h6>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- ##### Team Member Area End ##### -->
<style>
.section-heading h2 span {
      color: #ff8c00; }


.single-team-member {
  position: relative;
  z-index: 1;
  border-width: 2px;
   }
  .single-team-member .team-img {
    position:relative;
    z-index: 1;
    width: 180px;
    height: 220px;
    border-color: black;
     }
    .single-team-member .team-img img {
      width: 100%;
      height: 100%;
      border: 1px solid black;
      box-shadow: 8px 8px 10px grey
      }
    .single-team-member .team-img::after {
      -webkit-transition-duration: 500ms;
      -o-transition-duration: 500ms;
      transition-duration: 500ms;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      content: '';
      top: 0;
      left: 0;
      z-index: 2;
      opacity: 0;
      visibility: hidden;
       }
    .single-team-member .team-img .team-social-info {
      position: absolute;
      z-index: 99;
      top: 20px;
      left: 20px;
      -webkit-transition-duration: 500ms;
      -o-transition-duration: 500ms;
      transition-duration: 500ms;
      opacity: 0;
      visibility: hidden; }
      .single-team-member .team-img .team-social-info a {
        display: block;
        width: 30px;
        height: 30px;
        border: 1px solid #ffffff;
        color: #ffffff;
        text-align: center;
        line-height: 30px;
        margin-bottom: 15px;
        border-radius: 50%; }
        .single-team-member .team-img .team-social-info a:focus, .single-team-member .team-img .team-social-info a:hover {
          background-color: #77b122;
          color: #ffffff;
          border-color: #77b122;
          
           }
  .single-team-member .team-member-info {
    position: relative;
    z-index: 1;
    text-align: center;
    margin-top: 30px; }
    .single-team-member .team-member-info h6 {
      font-weight: 400;
      color: #707070;
      margin-bottom: 0; }
  .single-team-member:focus .team-img::after, .single-team-member:hover .team-img::after {
    visibility: visible;
    opacity: 1; }
  .single-team-member:focus .team-img .team-social-info, .single-team-member:hover .team-img .team-social-info {
    visibility: visible;
    opacity: 1; }</style>

{% endblock %}