{% extends 'hf.html' %}
{% block content %}

	{% load static %}
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/formutil.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/formmain.css'%}">	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-85 p-b-20">
                <div style="margin-bottom: 100px;">
                         {% for message in messages%}
                         <h1> {{message}}</h1>
                        {% endfor %}

                    </div>
                <form class="login100-form validate-form" method="POST" action="AddIngredients">
				{% csrf_token%}
					<span class="login100-form-title p-b-70">
						ADD PRODUCT
					</span>
					<span class="login100-form-avatar">
						<img src="{% static 'img/avatar-01.jpg' %}" alt="AVATAR">
					</span>

	
                    <div class="wrap-input100 m-b-35 m-t-40">
						<input class="input100" type="text" name="Item">
						<span class="focus-input100" data-placeholder="Item"></span>
                    </div>
                    <div class="wrap-input100 m-b-35 m-t-40">
						<input class="input100" type="text" name="Name">
						<span class="focus-input100" data-placeholder="Supplier Name"></span>
					</div>

					<div class="wrap-input100 m-b-35">
						<input class="input100" type="number" step="any" name="Price">
						<span class="focus-input100" data-placeholder="Price"></span>
					</div>

					


					


					<div class="container-login100-form-btn m-b-40">
						<button type="submit" class="login100-form-btn">
							Add Product
						</button>
                    </div>
                    

					
				</form>
			</div>
		</div>
	</div>

{% endblock %}