{% extends 'hf.html' %}
{% block content %}

	{% load static %}
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/formutil.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/formmain.css'%}">	
	<div class='row'>
		<div class='col-3' style='margin-top:30%; margin-left:5%'>
			<h5 class='ml-5 mb-2'>Already Have an account?</h5>
			<a href='http://localhost:8000/account/customer-login'>
				<button class="login100-form-btn" style="">
					Login
				</button>	
			</a>
		</div>
		<div class="limiter col-8">
			<div class="container-login100">
				<div class="wrap-login100 p-t-85 p-b-20">
					<form class="login100-form validate-form" method="POST" action="customer-register">
					{% csrf_token%}
						<span class="login100-form-title p-b-70">
							Customer Sign-Up
						</span>
					<span class="login100-form-avatar">
							<img src="{% static 'img/avatar-01.jpg' %}" alt="AVATAR">
						</span>

						<div class="wrap-input100 m-b-35 m-t-40">
							<input class="input100" type="text" name="username">
							<span class="focus-input100" data-placeholder="Full Name"></span>
						</div>

						<div class="wrap-input100 m-b-35">
							<input class="input100" type="text" name="email">
							<span class="focus-input100" data-placeholder="Email"></span>
						</div>

						<div class="wrap-input100 m-b-35">
							<input class="input100" type="text" name="passwd">
							<span class="focus-input100" data-placeholder="Password"></span>
						</div>

						<div class="wrap-input100 m-b-35">
							<input class="input100" type="text" name="phone">
							<span class="focus-input100" data-placeholder="Phone Number"></span>
						</div>

						<div class="wrap-input100 m-b-50">
							<input class="input100" type="text" name="address">
							<span class="focus-input100" data-placeholder="Address"></span>
						</div>

						<div class="container-login100-form-btn m-b-40">
							<button type="submit" class="login100-form-btn">
								Sign Up
							</button>
						</div>

						
					</form>
				</div>
			</div>
		</div>
	</div>

{% endblock %}